# local package

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv

matplotlib
sentinelsat
googlemaps
pandas
seaborn
tabulate
opencv-python
wandb

scipy
tensorboard
albumentations
pycocotools

pytorch-lightning